<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>aula 1</title>
	<style>
		.fade-enter-active, .fade-leave-active {
		   transition: opacity .5s;
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
		   opacity: 0;
		}
	</style>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
	<div class="container">
	<div id="app" >
	    <h1>{{ titulo}}</h1>
	    <ul>
		    <li><router-link :to="{ name:'transformers'}">Transformers</router-link></li>
		    <li><router-link :to="{ name:'game'}">Game</router-link></li>
		    <li><router-link to="/arrow">Casa</router-link></li>
	    </ul>
	    <router-view></router-view>
	</div>
</div>
<template id="Tcontent">
	<div>
		<h3>Conteudo transformers</h3>
		{{ $route.params.name }}
		<p>Singularity face forwards network bridge stimulate pen dolphin into. Skyscraper futurity kanji industrial grade military-grade alcohol physical saturation point semiotics systema. Smart-receding weathered sign DIY silent skyscraper ablative augmented reality. Vehicle rifle neural assault systema vinyl lights corrupted city. </p>
	</div>
	
</template>
<template id="transformers">
	<div>
		<div class="row">
			<div class="col">
				<ul>
					<li v-for="item in transformers"><router-link :to="{name:'Tcontent',params:{name: item.slug}}">{{item.name}}</router-link></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<router-view></router-view>
			</div>
		</div>
	
	</div>
</template>
<template id="game">
	<div>
		<ul>
			<li v-for="item in game">{{item.name}}</li>
		</ul>
	</div>
</template>
<template id="error404">
	<div>
		<h1>Pagina não encontrada</h1>
		<p>Ops, parece que está página não existe!</p>
	</div>
	
</template>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>

	var Transformers = Vue.component('transformers',{
		template:"#transformers",
        data(){
        	return{
			transformers:[
				{name:'Transformers Miliano', slug:'transformers-miliano'},
				{name:'Transformers Leonardo',slug:'transformers-leonardo'},
				{name:'Transformers Leticia',slug:'transformers-leticia'},
				{name:'Transformers Top',slug:'transformers-top'},
				{name:'Transformers piupiu',slug:'transformers-piupiu'}
			],
		  }
		},
		
	});
    
    var Game = Vue.component('game',{
    	template:"#game",
        data(){
        	return{
			game:[
				{name:'game Miliano'},
				{name:'game Leonardo'},
				{name:'game Leticia'},
				{name:'game Top'},
				{name:'game piupiu'}
			],
		  }
		},

    });
    var Tcontent = Vue.component('Tcontent',{
    	template:"#Tcontent",
    });
     var Error404 = Vue.component('error404',{
    	template:"#error404",
    });
    var router = new VueRouter({
    	mode:'history',
		routes:[
		    {path: '/', name:'home', redirect:{ name:'Tcontent',params:{name: 'Transformers Leonardo'}}},
			{path: '/transformers',name:'transformers', component: Transformers,
             children:[
	             {path:':name', name:'Tcontent',component:Tcontent},
             ]
		    },
			{path: '/game',name:'game',component: Game},
			{path: '*', name:'error404', component:Error404}
		]
	});
	

	var app = new Vue({
		el:'#app',
		router,
		created(){
			//this.$router.push({ name:'Tcontent',params:{name: 'Transformers Leonardo'}})
			},
		data:{
			titulo:"Apreendendo Vue js!",
			users:[
				{name:'Miliano'},
				{name:'Leonardo'},
				{name:'Leticia'},
				{name:'Top'},
				{name:'piupiu'},
			],
			movie:'transformers',
		
		},
		methods:{
			remove(index){
				this.users.splice(index,1);
			}		
		}

	});
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

 <!--
Aula 1: 
   o que são diretivas? Conjuntos de normas, instruções que deve alguém proceder
Aula 2:
   no vue.js as diretivas são iniciadas com v, seguidas de -. Ex: v-model, v-if.
Aula 3:
   v-if = funciona com true e false.
   v-show = funciona com true e false
   A diferença entre v-if e v-show é que, no v-show o código apenas esconde o conteudo aparecendo no código fonte o conteudo: display:nome;
Aula 4:
   v-for = for normal
Aula 5:
   v-model = reatividade, escreve em tempo real
Aula 6:
   v-bind = torna elementos do html um elemento dinamico, da para colocar só :
   Objeto:		btnLimpar:{
				'btn-danger':true, 
				'btn-sm':true
			},
	Array:		btnEnviar:[
			   'btn-success','btn-sm'
			]
Aula 7:
    v-on: tem modificadores(prevent.stop, para chamar os metodos com um click
Aula 9:
    filters: customizar as variaiveis,tem que criar uma funcao que é invocada no momento da chamanda da variavel, 
    Se necessário fazer um filtro de variaveis.
Aula 10: computed e watch
    São observadores de quando uma variavel é alterada,

    A funcao watch armazena as variaveis anterior, função muito útil.
    computed: se as variaveis forem alteradas, as função serao executadas.
Aula 11: lifecycle hooks
    Como funciona o vue.js, são hooks
        beforeCreate(){},   // não tem acesso as variaveis  // não tem acesso ao DOM
        created(){},        // tem acesso as variaveis      // não tem acesso ao DOM
        beforeMount(){},    // tem acesso as variaveis      // tem acesso ao DOM
        mounted(){},        // tem acesso as variaveis      // tem acesso ao DOM
        beforeUpadte(){},   // tem acesso as variaveis      // tem acesso ao DOM
        update(){},         // tem acesso as variaveis      // tem acesso ao DOM
    mounted() -> tem acesso ao html

Aula 12 e 13: Componentes pais e filhos
         template
         Vue.component('menu-bar',{
      template:"#menu"
	});
Aula 14: Enviando dados entre componentes
    props: lista de propriedades
    para passar dados de um componente, tem que ser por uma função:     
    data(){
      	return{
      		topNav:[{label:'Home'},{label:'Features'},{label:'Pricing'},{label:'Disabled'}]
      	}
      }
      declara a variavel no props: props:['items'],
      ENVIAR DADOS DO COMPONENTE PAI PARA O COMPONENTE FILHO:
      pai: nav-bar, filho: menu-bar
      1: declara no componente pai uma função data() com o nome da variavei e um array de informações,
      2: declara no componente filho a função props() com o tipo da variavel e se é requerida.
      3: usar o v for ou outras diretivas
      via props

      ENVIAR DADOS DO COMPONENTE FILHO PARA O COMPONENTE PAI:
      1: cria um função de clicar no componente filho, que chama uma função de emição(nativa do vue)
      2: criar uma v-on que escuta emitClick, com uma função no componente pai que é chamada.
      via emite

 Aula 15: como trafegar dados entre componentes distintos
      instanciar o eventBus || instanciar o eventHub

      falador: eventBus.$emit('submit',this.title);
      escuta: eventBus.$on('submit', function());

 Aula 16: Slots
	  Mixins são para vc armazenar comportamentos que vc usa em mais de um componente. 
 Aula 18: Ajax com vue-resource
 				// this.$http.get(url).then(function(r){
				// 	this.users = r.body;
				// },function(error){
				// 	alert(error);
				// }).finally(function(){
				// 	alert('finally');
				// });
 Aula 19: Ajax com axios
      axios.get(url).then(function(r){
                    vm.users = r.data;
                });

Aula 20: key, ref, slot,
     key é um identificador de componentes, torna o programa mais rapido
     ref serve para buscar elementos html
     slot 
     is <component is="transformers"></componente> dá para usar o is para nomear os componentes

Aula 21: Transições em CSS
    usar dentro do componente
Aula 22: criar uma rota
    primeiro passo: importar e instanciar objeto, criar variaveis dos componentes
    var router = new VueRouter({
		routes:[
			{path: '/transformers',component: Transformers},
			{path: '/game',component: Game},
		]
	});
	segundo passo:
	var app = new Vue({
		el:'#app',
		router,
	terceiro passo:
		<router-link to="/transformers">Transformers</router-link>
		<router-link to="/game">Game</router-link>
		<router-view></router-view>
Aula 23: dicas rotas
     mode:'history'
     name:'nomedarota'
Aula 24: Subrotas
Aula 25: Navegação automatica
Aula 26: rota padrão e error 404
            <li><router-link to="/arrow">Casa</router-link></li>
		    {path: '/', name:'home'},
			{path: '/transformers',name:'transformers', component: Transformers,
             children:[
	             {path:':name', name:'Tcontent',component:Tcontent},
             ]
		    },
			{path: '/game',name:'game',component: Game},
			{path: '*', name:'error404', component:Error404}
		redirecionamento
		  {path: '/', name:'home', redirect:{ name:'Tcontent',params:{name: 'Transformers Leonardo'}}},
     
-->